<br/>

<div class="about col-9 offset-1">
	<div class="animated fadeInLeft delay-0s">
		<u><h2>About Us</h2></u>
		<br/>
		<h5>Since founding in 1978, Trident Services has established a solid reputation for the excellence of our software, the responsiveness of our support team, and the expertise of our consulting staff. Our senior systems consultants are all US based professionals with an average of over 25 years experience in their individual specialties. 
		<br />	
		<br/>
		Trident Services, Inc. is a privately held California corporation with current small business certification, and holds both GSA and CMAS contracts. We are a committed member of the Mainframe community and have been an IBM Business Partner for over 25 years. Trident Services began as a consulting firm, and it was through this experience that we identified needs within the industry. Since launching our first software solution in 1988, we have continued to develop and enhance our software products and services to keep pace with industry changes, emerging technologies and client driven needs. 
		<br/>
		<br/>
		Our flagship product, zOSEM (zOperating System Environment Manager) is a powerful software tool of strategic importance in the enterprise server environment. Driven by a simple ISPF interface, zOSEM encompasses a multitude of features for improved control, throughput, and processing efficiency in a z/OS environment. zOSEM is enabling customers to reduce & control ISV costs, eliminate exit migration issues, and provides an easy to use DFSMShsm Optimizer which can dramatically improve HSM performance. 
		<br/>
		<br/>
		Working smarter is a necessity in today's economic climate; Trident customers can relax knowing they have a smart solution that Saves Time, Money and Maximizes Resources!</h5>
	</div>	

		<br/>
		<br/>
		<hr class="animated fadeIn delay-1s">
		<br/>
		<br/>

	<div class="animated fadeInRight delay-2s">	
		<u><h2>A Letter from our CEO</h2></u>
		<div class="postion">
			<%= image_tag "timmy.jpg" %>
		</div>	
		<br/>
		<h5>Since its inception in 1978, Trident Services, Inc. has developed into a globally recognized Operating Systems Software Development and Services firm. Our growth has closely followed the wide adaptation of IBM enterprise hardware and software solutions in both the business and government spheres. 
		<br/>	
		<br/>
		Our business philosophy has always been to provide superior software and service solutions that are highly cost effective. To achieve these objectives we have chosen to maintain a profile as a privately held corporation staffed with only top professionals in each of our chosen technical specialties. In this manner we believe we can provide the individual attention and timely response required to maintain long term relationships with each of our highly valued clients. We are committed to the continued growth and success of the mainframe in today's IT infrastructure. This commitment remains a driving force in our focus to develop products and provide services that support a smarter future for our clients. 
		<br/>
		<br/>
		We firmly believe that our continued success is only as good as the service and software solutions we provide to our clients. We appreciate your interest in our company and would love to hear from you. We look forward to the opportunity to be of service to your enterprise! 
		<br/>
		<br/>
		Sincerely, 
		<br/>
		<br/>	
		Tim Humphreys 
		<br/>
		Founder & CEO 
		<br/>
		Trident Services, Inc.</h5>
	</div>	

	
</div>		















