<br/>
<div class="contact col-8 offset-2">
	<u><h1 class="animated fadeInDown delay-0s" align="center">CONTACT US</h1></u>
</div>	
	<br/>	

<div class="tech col-10 offset-1">
								<br/>
	<div class="row">
		<div class="col-12 col-sm">							
			<div class="contact col-6 offset-6 animated fadeInRight delay-1s">
				<u><h2>Corporate Office</h2></u>
					<h4>Trident Services, Inc. 
					<br/>
					1260 41st Avenue, Suite K 
					<br/>
					Capitola, CA 95010
					<br/>
					<br/>
					Office Tel: (831) 465-7661 
					<br/>
					Office Fax: (831) 476-0966</h4>
					<br/>
					<a href="mailto:osem@triserv.com" class="btn btn-primary">General Information</a>
					<br/>
					<br/>
			</div>	
		</div>
		<div class="col-12 col-sm animated fadeInRight delay-1s">
			<%= image_tag('palm.jpeg') %>	
		</div>	
	</div>
			<br/>
</div>				


		<br/>
		<hr>
		<br/>

		<div class="contact col-8 offset-2 animated fadeInLeft delay-1s">
			<div class="row">
				<div class="col-12 col-sm" style="margin-right: 150px; margin-left: 50px;">		
					<u><h3>Contact Sales</h3></u>
					<p>Save Time, Money, and Maximize Resources.
						Our Trident Services sales team is here to help you with any questions you may have about zOSEM & CICS/EM.
						To contact a member of our sales team, follow the link below, 
						and we will respond as soon as possible.
						For questions about our Services offerings, please contact our Services Sales team.</p>
						<div class="center">
							<b><h4>Sales Telephone: (800) 887-4336</h4></b>
							<br/>
							<a href="mailto:services@triserv.com" class="btn btn-primary">Email Services Sales</a>
							<br/>
							<br/>
							<a href="mailto:sales@triserv.com" class="btn btn-primary">Email Software Sales</a>
					</div>
				</div>	

					<div class="col-12 col-sm">		
						<u><h3>Contact Support</h3></u>
						<p>For support with zOSEM, CICS/EM and ESPS products, please visit our support page.</p>

						<div class="center">
							<%= link_to 'Visit Support', support_path, class: 'btn btn-primary' %>
						</div>
					</div>	
			</div>	
	</div>	


		

			

		
		
			
