<br/>
<div class="contact text-center">
	<h2>CONTACT US</h2>
	
<br/>		
	<div class="row">
		<div class="col-12 col-sm">
			<h3>Contact Sales</h3>
			<p>Save Time, Money, and Maximize Resources
				<br/>
				<br/>
				Our Trident Services sales team is here to help you with any questions you may have about zOSEM & CICS/EM.
				<br/>
				<br/>
				To contact a member of our sales team, follow the link below, and we will respond as soon as possible.
				<br/>
				<br/>
				For questions about our Services offerings, please contact our Services Sales team.
				<br/>
				<br/>
				Sales Telephone: (800) 887-4336</p>
				<a href="mailto:services@triserv.com">Email Services Sales</a>
				<br/>
				<a href="mailto:sales@triserv.com">Email Software Sales</a>
		</div>
		
		<div class="col-12 col-sm">
			<h3>Corporate Office</h3>
			<p>Trident Services, Inc. 
				<br/>
				1260 41st Avenue, Suite K 
				<br/>
				Capitola, CA 95010
				<br/>
				<br/>
				Office Tel: (831) 465-7661 
				<br/>
				Office Fax: (831) 476-0966</p>
				<%= image_tag('palm.jpg') %>
				<br/>
				<a href="mailto:osem@triserv.com">General Information</a>
		</div>	

		<div class="col-12 col-sm">
			<h3>Support</h3>
			<p>For support with zOSEM, CICS/EM and ESPS products, please visit our support page</p>
			<%= link_to 'Visit Support', support_path %>
		</div>		
	</div>
</div>	
