<br/>
<div class="contact col-10 offset-1 text-center">
	<h1>CONTACT US</h1>
	
<br/>		

		
	
	<div class="row help text-center">
		<div class="col-12 col-sm">		
			<h3>Contact Sales</h3>
			<p>Save Time, Money, and Maximize Resources
				<br/>
				Our Trident Services sales team is here to help you with any questions you may have about zOSEM & CICS/EM.
				<br/>
				To contact a member of our sales team, follow the link below, and we will respond as soon as possible.
				<br/>
				<br/>
				For questions about our Services offerings, please contact our Services Sales team.

				<br/>
				Sales Telephone: (800) 887-4336</p>
				<a href="mailto:services@triserv.com">Email Services Sales</a>
				<br/>
				<a href="mailto:sales@triserv.com">Email Software Sales</a>

				<br/>
				<br/> 
				<br/>

				<h3>Contact Support</h3>
				<p>For support with zOSEM, CICS/EM and ESPS products, please visit our support page</p>
				<%= link_to 'Visit Support', support_path %>
		</div>	

		<div class="col-12 col-sm">
				<h2>Corporate Office</h2>
			<h4>Trident Services, Inc. 
				<br/>
				1260 41st Avenue, Suite K 
				<br/>
				Capitola, CA 95010
				<br/>
				<br/>
				Office Tel: (831) 465-7661 
				<br/>
				Office Fax: (831) 476-0966</h4>
				<a href="mailto:osem@triserv.com">General Information</a>
				<br/>
				<br/>
				<br/>
				<%= image_tag('palm.jpg') %>
				<br/>
				
		</div>	
	</div>			

		
		
			
	

		
		

</div>	
