<br/>
<div class="contact col-10 offset-1 text-center">
	<h1 class="animated fadeInDown delay-0s">CONTACT US</h1>
	
	<br/>		

		
	
	<div class="row text-center">
		<div class="animated fadeInLeft delay-1s">
			<div class="col-10 col-sm">		
				<h3>Contact Sales</h3>
				<p>Save Time, Money, and Maximize Resources
					<br/>
					Our Trident Services sales team is here to help you with any questions you may have about zOSEM & CICS/EM.
					<br/>
					To contact a member of our sales team, follow the link below, and we will respond as soon as possible.
					<br/>
					For questions about our Services offerings, please contact our Services Sales team.
					<br/>
					<br/>
					<b>Sales Telephone: (800) 887-4336</p></b>
					<a href="mailto:services@triserv.com" class="btn btn-primary">Email Services Sales</a>
					<br/>
					<br/>
					<a href="mailto:sales@triserv.com" class="btn btn-primary">Email Software Sales</a>

					<br/>
					<br/> 
					<br/>

					<h3>Contact Support</h3>
					<p>For support with zOSEM, CICS/EM and ESPS products, please visit our support page.</p>
					<%= link_to 'Visit Support', support_path, class: 'btn btn-primary' %>
			</div>
		</div>	

		<div class="col-10 col-sm">
			<div class="animated fadeInRight delay-2s">
				<h2>Corporate Office</h2>
					<h4>Trident Services, Inc. 
					<br/>
					1260 41st Avenue, Suite K 
					<br/>
					Capitola, CA 95010
					<br/>
					<br/>
					Office Tel: (831) 465-7661 
					<br/>
					Office Fax: (831) 476-0966</h4>
					<br/>
					<a href="mailto:osem@triserv.com" class="btn btn-primary">General Information</a>
					<br/>
					<br/>
					<br/>
					<%= image_tag('palm.jpg') %>
					<br/>
			</div>		
		</div>
</div>			

		
		
			
