<div class="hero">
	<br/>
	<br/>

	
	<div class="frosty col-10 offset-1 text-center">
		<br/>
		<h1 class="animated fadeInLeft">Smart Solutions. Smart Work. Smart Future.</h1>
		<br/>
		<br/>
		<br/>
		<div class=" animated fadeInRight delay-1s">
		<u><h2>Upcoming Events</h2></u>
			<h3>October 7 - 11, 2019 <a href="https://www.ibm.com/services/learning/ites.wss/zz-en?pageType=page&c=a0002173" target="_blank">IBM Systems Technical University Las Vegas, NV</a>
			<br/>
			<br/>
			November 5 - 7, 2019 <a href="http://gse.org.uk/mainsite/content/content_events.php" target="_blank">Guide Share Europe (GSE) Whittlebury Hall - Whittlebury, UK</a> 
			</h3>
		</div>		
	</div>
	<br/>
	<br/>
</div>	
	
<br/>
<br/>

<div class="home">
	<div class="row help text-center">
		<div class="col-12 col-sm">
			<u><h3>Enterprise Software</h3></u>
			<br/>
			<p>Save Time, Money, and Maximize Resources 
			<br/> 
			zOSEM is enabling customers to Reduce and Control ISV Costs, eliminate exit migration issues, and provides an easy to use DFSMShsm optimizer which can dramatically improve HSM performance.</p>
			<br/>
			<br/>
			<br/>

			<%= link_to 'Learn More', software_path, class: 'btn btn-primary' %>
		</div>
		
		<div class="col-12 col-sm">
	   <u><h3>IT Consulting</h3></u>
	   <br/>
	   <p>With an average of over 25 years experience in their individual specialties, let Trident's Senior IT Systems Consultants help you get the most out of each IT dollar you spend. We offer a wide spectrum of services to fit our individual clients needs, check out our services for more information.</p>
	   <br/>
	   <br/>

	   <%= link_to 'Learn More', services_path, class: 'btn btn-primary' %>
	  </div>

	  <div class="col-12 col-sm">
	    <u><h3 align="center"> Mainframe Managed Services</h3></u>
	    <br/>
		<p>Mainframe Managed Services solutions offer a full take over of Operations, Production Support, Scheduling Support, Security Administration as well as other operational roles.This broad solution includes the more traditional roles such as DBA, Performance/Capacity Management, Technical Project Management, Application performance, Batch/Online performance improvements, High Availability, Disaster Recovery, etc.</p>
		<%= link_to 'Learn More', services_path, class: 'btn btn-primary' %>
	  </div>
	</div>
</div>		
	
<br/>
<br/>
<hr class="animated zoomIn delay-1s">
<br/>
<br/>

	<div class="shape col-10 offset-1">
		<div class="row help text-center">
			<div class="col-12 col-sm">
				<u><h3>Contact Support</h3></u>
			    <br/>
			    <p>With an average of over 25 years experience in their individual specialties, let Trident's Senior IT Systems Consultants help you get the most out of each IT dollar you spend. We offer a wide spectrum of services to fit our individual clients needs, check out our services for more information.</p>
			    <%= link_to 'Get Help', support_path, class: 'btn btn-primary' %>
			</div>
			
			<div class="col-12 col-sm">
				<u><h3>In the News</h3></u>
				<br/>
				<p><a href="/ibmsystems2019.pdf" target="_blank">Check out Trident's Tim Humphreys in IBM Systems Magazine for a discussion on the Knowledge Gap facing todays Mainframe shops.</a>
				Trident Services proudly announces the availability of zOSEM 6.2, the latest release of zOperating System Environment Manager. 6.2 brings resource routing at the step level, as well as enhancements to many of our already great features, including our HSM Optimizer and HSM Reporting.
				<br/>
				<br/>
				<a href="/62pressrelease.pdf" target="_blank">zOSEM 6.2 Press Release</a>
				<br/>
				<a href="/zOSEM_Enhancements_Release_6.2.pdf" target="_blank">zOSEM 6.2 Enhancements Document</a></p>
			</div>	
		</div>	
	</div>
	

















