<br/>

<div class="mainframe col-10 offset-1">
	<u><h1 align="center">Mainframe Managed Services</h1></u>
</div>	
	<br/>
	<div class="mainframemanage">
		<br/>

		<p align="left|right|center|justify" class="col-10 offset-1">Our Mainframe Managed Services provides a complete and holistic service offering for your mainframe environment.
		This broad solution includes the more traditional roles such as DBA, Performance/Capacity Management, Technical Project Management, Application performance, Batch/Online performance improvements, High Availability, Disaster Recovery, etc.
		Our Mainframe Managed Services solution also provides you a means through which we can take over Operations, Production Support, Scheduling Support, Security Administration as well as other operational roles.
		Our goal is to customize a solution for your needs and not try to fit you into a one-size-fits-all model.</p>
		<br/>
	</div>

	<br/>


<div class="mainframe col-10 offset-1">
		<u><h3 align="center">The Environment</h3></u>
		<h4 align="center">We designed the Mainframe Managed Services Offering with the following goals in mind:</h4>
		<ul>
			<li>We support all major software configurations.  We've been doing this for so long that we have supported just about every combination of products anyone could come up with.</li>
			<li>We cover the Systems Programming roles as well as those mentioned above.  If you have a special need, please take the time to email us and we'll be honest and forthcoming about our ability to support you.</li>
			<li>We provide Application and Operational support - but it's usually from the context of the Technical Support side of the house.  We're here to support any and all teams within your IT organization.</li>
			<li>We offer a la carte choice of services and quantity of hours - and we can change that pretty much on demand.</li>
			<li>Our primary component support includes:</li>
				<ul>
					<li>Operating Systems: z/OS, z/VM, z/Linux, TPF, as well as the z/VSE world</li>
					<li>DB/DC Systems: CICS, DB2, IMS, CA-IDMS, CA-DATACOM-DB (for those still out there), and others</li>
					<li>Tape Management Migrations from CA-TMS, CA-TLMS and ZARA to IBM DFSMSrmm</li>
					<li>DASD Management Migrations from CA-VANTAGE to DFSMS and DFSMShsm</li>
					<li>Non-Disruptive DASD Migration Services from one DASD subsystem to another either local, remote or both</li>
					<li>Tape Migration Services from physical tape to new physical tape technology or Virtual Tape Systems (VTS) local, remote or both   </li>
					<li>Most any past and present ISV product</li>
					<li>If you have a specific need, let us know - if we can't cover it, we'll tell you rather than mislead you and be in trouble when we can't deliver</li>
				</ul>
			<li>We provide on-call support coverage - it's expected that you would want this from us.</li>		
			<li>We provide Disaster Recovery support - not only testing, but at Disaster Declaration time.</li>		
			<li>We support IBM and non-IBM products and hardware.  We have a very large Wintel/Midrange practice and recognize that we need to interact with the Mainframe for services. </li>		
			<li>We are committed to aligning ourselves with your existing organization - we want to be plug-and-play to minimize disruptions to the organization or service.</li>		
			<li>We provide US-based resources with clearances to meet varying client security requirements.</li>		
			<li>We serve as a vendor agnostic Trusted Advisor.</li>		
			<li>We are committed to providing value-based pricing.</li>		
		</ul>
	</div>

	<br/>
	<div class="strings">	
		<div class="mainframe col-10 offset-1">
			<div class="row">
				<div class="col-12 col-sm">	
					<u><h3 align="center">Don't pass up the oppertunity</h3></u>
					<h6>If you have trouble selling staff augmentation to your management team or feel that it's impossible to achieve a winning price point, reach out to us to see how we can help.
					We have worked with a number of clients to help them secure long term support services at price sensitive rates.The Trident Services, Inc.  Mainframe Support Services Offering is a proven, dynamic, and viable solution to satisfy your ever-changing needs.</h6>
					<br/>
					<br/>
				</div>
				
				<div class="col-12 col-sm">	
					<u><h3 align="center">No strings attached - Contact Us!</h3></u>
					<h6>If you'll take the time to email us with contact information, needs, requirements, etc. - and provide any form of contact so that we can follow up, our commitment to you is that we will</h6>
					<ul>
						<li>Keep your contact information on file for the sole purpose of responding to you - nothing else.  No selling it, no soliciting you again - nothing.</li>
						<li>Respond to your request within 24 hours - work days or weekends - it makes no difference to us - we'll respond.</li>
						<li>Be able to understand your technical requirements - we're not salesmen - we're technical.</li>
						<li>Do our best to win your trust and then your business.</li>
					</ul>
				</div>
			</div>		

				<br/>
				<br/>

				<div class="booyah-box col-8 offset-2 text-center">
						<h4 align="center">Contact our friendly support staff for more information:</h4> 
						<h4>
						1 (800) 887-4336
						</h4>
						<h5>or</h5>
						<a href="mailto:services@triserv.com" class="btn btn-secondary">Email Support Staff</a>
					</div>	
			</div>		
</div>
	


























