<br/>
<div class="staff">
			<u><h2 align="center" class="animated fadeInDownBig">Staff Augmentation</h2></u>
			<br/>
			<div class="blue animated zoomIn delay-1s">
				<br/>
				<br/>
				<div class="frosty col-10 offset-1 animated zoomIn delay-2s">
				<br/>
				<br/>
					<h4 align="left|right|center|justify" class="col-8 offset-2">One of the challenges facing many IT organizations today is lack of internal resources. Obtaining skilled IT personnel is becoming harder but remains a necessity for supporting our ever changing business environment. Trident's Staff Augmentation services can help you achieve your business goals by providing skilled personnel with an average of over 25 years experience to work under your direction. This allows organizations to dynamically adjust their staff resources when needed to provide support for projects requiring specialized skills that do not currently exist internally.</h4>
			<br/>
				
				
			<hr>
					<br/>		
					<div class="tri col-8 offset-2">
						<h4 align="center">
						Trident Solution:
						</h4>
					
							<ul>
								<li>We provide skilled professionals to help you manage fluctuating skill needs, allowing you to meet aggressive project deadlines.</li>
								<li>We have expertise to fill skill gaps, and we include a knowledge transfer to your staff upon completion.</li>
								<li>We help you train your current staff.</li>
							</ul>	
					</div>
					<br/>
				</div>
					<br/>
					<br/>
			</div>			
					
						<!-- <div class="booyah-box col-8 offset-2 text-center">
							<h4 align="center">Contact our friendly support staff for more information:</h4> 
							<b><h4>
							1 (800) 887-4336
							</h4></b>
							<h5>or</h5>
							<a href="mailto:services@triserv.com" class="btn btn-secondary">Email Support Staff</a>
						</div> -->		
		
		