<br/>
<div class="news">	
	<div class="col-12">
		<div class="animated fadeInDown delay-1s text-center">
			<u><h1 align="center">Upcoming News & Events</h1></u>
			<br/>
			<!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=N2MwYjNjOXY5dDFjZm1tM2Q4ZHEzczZwMHNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23616161" style="border-width:0" width="1200" height="750" frameborder="0" scrolling="no"></iframe> -->
		</div>
	</div>	
</div>		