<br/>
<div class="news">	
	<div class="col-12">
		<div class="animated fadeInDown delay-1s text-center">
			<u><h1 align="center">Upcoming News & Events</h1></u>
			<br/>
			<iframe src="https://calendar.google.com/calendar/embed?src=tridentservices0%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="1400" height="850" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>	
</div>		