<br/>
<br/>
<div class="col-10 offset-1">

  <div class="row">

      <div class="item col-lg-5 col-xs-12 col-center-block mb-4 animated zoomIn">
        <div class="item-content">
          <h3>France, Luxemburg, Belgium and Switzerland</h3>
          <u><h4>Query Informatique</h4></u>
          <h5>
            Contact: Rui Manuel Costa <br/>
            Email: rmcosta@query-informatique.com <br/>
            Phone: 014-997-3300<br/>
            <a href="https://query-informatique.com/solutions-mainframe" target="_blank" style="color: #4287f5;">Website</a>
            <br/><br/>          
            Immeuble Le Noblet-Hall A<br/>                                                       
            1 Boulevard Charles De Gaulle<br/>
            92700 Colomes, France
          </h5>
        </div>
        <br/>
        <div align="center">
          <a href="https://query-informatique.com/solutions-mainframe" target="_blank">
            <%= image_tag('query-logo.png', :class=> 'img-fluid') %>
          </a>
        </div>
      </div>
 
      <div class="item col-lg-5 col-xs-12 col-center-block mb-4 animated zoomIn delay-1s">
        <div class="item-content">
          <h3>Spain, Portugal, and Latin America</h3>
          <u><h4>SUPPORTEAM IBERIA, S.L</h4></u> 
          <h5>
            Contact: Tito Boente<br/>
            Email: info@supporteamiberia.com or tboente@supporteamiberia.com<br/>
            Phone: +34-659 473 653<br/>
            <a href="http://www.supporteamiberia.com" target="_blank" style="color: #4287f5;">Website</a>
            <br/><br/>
            Avda. República Argentina, 54 – 4º -7<br/>                                 
            – 46701 – Gandía – Valencia <br/>                                                    
            SPAIN<br/>
          </h5>
        </div>
        <br/>
        <div align="center">
          <a href="http://www.supporteamiberia.com" target="_blank">
            <%= image_tag('SupporteamIberia.png') %>
          </a>
        </div>
      </div>
    </div>
  

  <br/>
  <br/>

  <div class="row">
    <div class="item col-lg-5 col-xs-12 col-center-block mb-4 animated zoomIn delay-2s">
      <div class="item-content">
        <h3>Israel</h3>
        <u><h4>MOST Software Technologies, LTD.</h4></u>
        <h5>
          Phone: +972(3)911-5511<br/>
          <a href="https://www.mosttechnologies.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          7 Martin Gehl st.<br/> Petach Tikva 4951254<br/>
        </h5>
      </div>
      <br/>
      <div align="center">
        <a href="https://www.mosttechnologies.com" target="_blank">
          <%= image_tag('most-tech.png') %>
        </a>
      </div>
    </div>

    <div class="item col-lg-5 col-xs-12 col-center-block mb-4 animated zoomIn delay-3s">
      <div class="item-content">
        <h3>United Kingdom & Ireland</h3>
        <u><h4>Fitz Software & Co.</h4></u>
        <h5>
          Email: sales@fitzsoftware.com<br/>
          Phone: +353-21-4832131<br/>
          <a href="https://www.fitzsoftware.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          Kilcolta House<br/>
          Crosshaven, County Cork<br/>
          P43 E129, Ireland<br/>
        </h5>
      </div>
      <br/>
      <div align="center">
        <a href="https://www.fitzsoftware.com" target="_blank">
          <%= image_tag('fitz.png', :class => 'img-fluid', :width => '80%') %>
        </a>
      </div>
    </div>


  </div>
</div>  
