<div class="heading partners-heading">
  <h2>Partners</h2>
</div>


<div class="partners section">

    <div class="row-content animated fadeIn delay-0s">
      <div class="partner-info flex-item">
        <h3>France, Luxemburg, Belgium and Switzerland</h3>
        <u><h4>Query Informatique</h4></u>
        <p>
          Contact: Rui Manuel Costa <br/>
          Email: rmcosta@query-informatique.com <br/>
          Phone: 014-997-3300<br/>
          <a href="https://query-informatique.com/solutions-mainframe" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>         
          Immeuble Le Noblet-Hall A<br/>                                                       
          1 Boulevard Charles De Gaulle<br/>
          92700 Colomes, France
        </p>
      </div>
      <div class="flex-item">
        <img src="/assets/query-logo.png" class="image" alt="image">
      </div>
    </div>

    <hr class="fadeIn delay-3s">


    <div class="row-content animated fadeIn delay-1s">
      <div class="partner-info flex-item">
        <h3>Spain, Portugal, and Latin America</h3>
        <u><h4>SUPPORTEAM IBERIA, S.L</h4></u> 
        <p>
          Contact: Tito Boente<br/>
          Email: info@supporteamiberia.com or tboente@supporteamiberia.com<br/>
          Phone: +34-659 473 653<br/>
          <a href="http://www.supporteamiberia.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          Avda. República Argentina, 54 – 4º -7<br/>                                 
          – 46701 – Gandía – Valencia <br/>                                                    
          SPAIN<br/>
        </p>
      </div>
      <div class="flex-item background-light">
        <img src="/assets/SupporteamIberia.png" class="image" alt="image">
      </div>
    </div>

    <hr class="fadeIn delay-4s">

    <div class="row-content animated fadeIn delay-2s">
      <div class="partner-info flex-item">
        <h3>Israel</h3>
        <u><h4>MOST Software Technologies, LTD.</h4></u>
        <p>
          Phone: +972(3)911-5511<br/>
          <a href="https://www.mosttechnologies.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          7 Martin Gehl st.<br/> Petach Tikva 4951254<br/>
        </p>
      </div>
      <div class="flex-item">
        <img src="/assets/most-tech.png" class="image" alt="image">
      </div>
    </div>

    <hr class="fadeIn delay-4s">

    <div class="row-content animated fadeIn delay-3s">
      <div class="partner-info flex-item">
        <h3>United Kingdom & Ireland</h3>
        <u><h4>Fitz Software & Co.</h4></u>
        <p>
          Email: sales@fitzsoftware.com<br/>
          Phone: +353-21-4832131<br/>
          <a href="https://www.fitzsoftware.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          Kilcolta House<br/>
          Crosshaven, County Cork<br/>
          P43 E129, Ireland<br/>
        </p>
      </div>
      <div class="flex-item">
        <img src="/assets/fitz.png" class="image" alt="image">
      </div>
    </div>

    <hr class="fadeIn delay-4s">

    <div class="row-content animated fadeIn delay-4s">
      <div class="partner-info flex-item">
        <u><h4>Eccox Software.</h4></u>
        <p>
          Contact: Thiago da Costa e Silva<br/>
          Phone: +55 11 4133-1969<br/>
          Mobile: +55 11 97514-3240<br/>
          <a href="https://www.eccox.com/en" target="_blank" style="color: #4287f5;">Website</a>
        </p>
        <p>
        In the global software market, Eccox is a pioneer in developing innovative solutions focused on smarter technologies to optimize software development and testing processes on the z/OS platform.
        Eccox provides impactful results for continuous process improvement goals for software engineering, application quality assurance, automated software development testing and optimization of computing resources to achieve optimal Mainframe efficiency.
        Eccox establishes strategic partnerships with global technology companies. Together with our Partners solutions, it is possible to join the Eccox mainframe expertise with optimal software technologies, people and processes to optimize Our Customers Mainframe environments to reduce CPU consumption, increase the availability of IT resources and achieve better performance of business-critical applications to thrive a cost effective Mainframe environment.
        </p>
      </div>
      <div class="flex-item">
        <img src="/assets/eccox.png" class="image" alt="image">
      </div>
    </div>


</div>
    

 

 
