<br/>
<br/>
<div class="partners col-10 offset-1 animated zoomIn">

  <div class="row">

      <br/>
      <div class="col-lg-5 col-xs-12 col-center-block" style='padding:25px; border: ridge 6px white;'>
        <h3>France, Luxemburg, Belgium and Switzerland</h3>
        <h4>Query Informatique</h4>
        <h5>
          Contact: Rui MAnuel Costa <br/>
          Email: rmcosta@query-informatique.com <br/>
          Phone: 014-997-3300<br/>
          <a href="https://query-informatique.com/solutions-mainframe" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>          
          Immeuble Le Noblet-Hall A<br/>                                                       
          1 Boulevard Charles De Gaulle<br/>
          92700 Colomes, France
          <br/>
          <br/>
        </h5>
        <a href="https://query-informatique.com/solutions-mainframe" target="_blank">
          <%= image_tag('query-logo.png', :size => '430x400', :class => 'man img-fluid') %>
        </a>
      </div>
 


    <br/>
    <br/>

    
      <br/>
      <div class="col-lg-5 col-xs-12 col-center-block" style='padding:25px; border: ridge 6px white;'>
        <h3>Spain, Portugal, and Latin America</h3>
        <h4>SUPPORTEAM IBERIA, S.L</h4>  
        <h5>
          Contact: Tito Boente<br/>
          Email: info@supporteamiberia.com or tboente@supporteamiberia.com<br/>
          Phone: +34-659 473 653<br/>
          <a href="http://www.supporteamiberia.com" target="_blank" style="color: #4287f5;">Website</a>
          <br/><br/>
          Avda. República Argentina, 54 – 4º -7<br/>                                 
          – 46701 – Gandía – Valencia <br/>                                                    
          SPAIN<br/><br/>
        </h5>
        <a href="http://www.supporteamiberia.com" target="_blank">
          <%= image_tag('SupporteamIberia.png', :size => '430x300', :class => 'man img-fluid', :style => 'background: rgba(247, 242, 242, 0.24);') %>
        </a>
      </div>
    </div>
  

  <br/>
  <br/>

  <div class="row">
    <br/>
    <div class="col-lg-5 col-xs-12 col-center-block" style='padding:25px; border: ridge 6px white;'>
      <h3>Israel</h3>
      <h4>MOST Software Technologies, LTD.</h4>
      <h5>
        Phone: +972(3)911-5511<br/>
        <a href="https://www.mosttechnologies.com" target="_blank" style="color: #4287f5;">Website</a>
        <br/><br/>
        7 Martin Gehl st.<br/> Petach Tikva 4951254<br/><br/>
      </h5>
      <a href="https://www.mosttechnologies.com" target="_blank">
        <%= image_tag('most-tech.png', :size => '430x300', :class => 'man img-fluid') %>
      </a>
    </div>
  </div>
</div>  
