<br/>

	<div class="services col-10 offset-1 text-center">
		<div class="animated fadeInDown delay-0s">
			<u><h1 align="center">Our Services</h1></u>	
			<br/>
			<h3 align="center">Trident Services provides the following services to all IBM Platforms, including System z, p, and i.</h3>
		</div>
	</div>
		<br/>
		<br/>


	<div class="serv col-10 offset-1">
	
			<div class="booyah-box animated fadeInLeft delay-1s text-center">	
				<u><h3>Managed Services</h3></u>
				<br/>
				<p align="center">Our Mainframe Managed Services provides a complete and holistic service offering for your mainframe environment. This broad solution includes the more traditional roles such as DBA, Performance/Capacity Management, Technical Project Management, Application performance, Batch/Online performance improvements, High Availability, Disaster Recovery, etc. </p>
				<%= link_to 'learn more', mainframeServices_path, class: 'link-color', class: 'btn btn-secondary' %>
			</div>
			
				<br/>
				<br/>
				<br/>

			<div class="booyah-box animated fadeInRight delay-2s text-center">		
				<u><h3>Staff Augmentation & Maintenace Support</h3></u>
				<br/>
				<p align="center">One of the challenges facing many IT organizations today is lack of internal resources. Obtaining skilled IT personnel is becoming harder but remains a necessity for supporting our ever changing business environment.</p>
				<%= link_to 'learn more', maintenaceSupport_path, class: 'link-color', class: 'btn btn-secondary' %>
			</div>

				<br/>
				<br/>
				<br/>
			
			<div class="booyah-box animated fadeInLeft delay-3s text-center">	
				<u><h3>Extended System Programming Support</h3></u>
				<br/>
				<p align="center">We provide toll-free technical phone support for problem determination, documentation of technical problems and problem resolution. ESPS covers all IBM operating system and subsystem software as well as all ISV operating system related software.</p>
				<%= link_to 'learn more', systemSupport_path, class: 'link-color', class: 'btn btn-secondary' %>
			</div>	
	</div>		
		