<br/>




<div class="software col-10 offset-1">
	<u><h1 align="center" class="animated fadeInDownBig delay-0s">zOSEM 6.2</h1></u>
	<br/>
	<div class="row">
		<div class="col-12 col-sm">
			<h5 class="animated zoomIn delay-1s">z/Operating System Environment Manager is one solution for total system management of z/OS, the goal is to simplify and modernize how we manage z/OS.
			<br/>
			<br/>
			z/OSEM offers a methodology and ISPF interface to provide today's data center a proactive solution to the challenges of fewer systems programmers. It also offers an opportunity to make the task of managing system environments an administrative one, rather than a technical programming issue. The z/Operating System Environment Manager makes it much easier for installations to manage system resources and to control how they are used.
			<br/>
			<br/>
			Driven by an easy-to-use ISPF interface, z/OSEM, with more than 200 robust features, provides dynamic controls in the many key Operating System areas
			</h5>

			<br/>

			<div class="osem animated zoomIn delay-1s">
				<h5>See how zOSEM is enabling customers to:</h5>
				<ul>
					<li>Reduce & Control ISV Costs utilizing job, and Step-level Resource Routing</li>
					<li>Manage % Improve System Throughput</li>
					<li>Eliminate Exit Migration Issues</li>
					<li>Add Comprehenisve Reporting for HSM activities</li>
					<li>Reduce HSM CPU Consumption</li>
				</ul>
				<a href="mailto:sales@triserv.com" class="btn btn-primary">Contact Sales</a>
			</div>
		</div>


	
		<div class="col-12 col-sm">
			<div class="box">
				<div class="booyah-box offset-1 animated zoomIn delay-1s">
					<div class="docs" align="center">
						<u><h3>zOSEM Documentation</h3></u>
						<br/>
						<a href="/osem_fact_sheet.pdf" target="_blank">zOSEM Overview</a>
						<br/>
						<br/>
						<a href="/zOSEM_Features_6.2.pdf" target="_blank">zOSEM Features</a>
						<br/>
						<br/>
						<a href="/zOSEM_Enhancements_Release_6.2.pdf" target="_blank">zOSEM 6.2 New Features</a>
						<br/>
						<br/>
						<a href="/zOSEM_Benefits_2009.pdf" target="_blank">Benefits by Functional Area</a>
						<br/>
						<br/>
						<a href="/zOSEM_Evaluation_Guide_62.pdf" target="_blank">zOSEM Evaluation Guide</a>
						<br/>
						<br/>
						<a href="/zOSEM_White_Paper_6.2.pdf" target="_blank">zOSEM White Paper</a>
					</div>
				</div>	
			</div>
		</div>		
	</div>		
</div>		
	<br/>
	<br/>

<hr class="animated zoomIn delay-1s">

	<br/>

<div class="soft col-10 offset-1 animated zoomIn delay-2s">
	<u><h1 align="center" class="animated zoomIn delay-2s">Highlights:</h1></u>
	<br/>
	<%= image_tag('ROI_Slide.jpg', :size => "730x500", :class => "float-right img-fluid clearfix", :alt => "Responsive image")%>
		<h3>Reduces Escalating ISV Costs</h3>
		<ul>
			<li>Provides controls to reduce MLC and ISV costs by restricting MLC and ISV(s) to a limited footprint either by Job, or Step Level Routing.</li>
			<li>Routes jobs dynamically for sub-systems like CICS, DB2, IMS and other ISV sub-systems like IDMS, DATACOM, and ADABAS without user written exits.</li>
			<li>Routes Job steps dynamically for IBM subsystems as well as other ISV sub-systems without the need for user written exits.</li>
			<li>Reduces overall costs of hardware upgrades</li>
			<li>On average zOSEM reduces ISV maintenance cost by 30%</li>
		</ul>
	<br/>
</div>
		
	<div class="soft-list col-10 offset-1 animated zoomIn delay-2s">	
		<h3>Facilitates System Management</h3>
		<ul>
			<b><li>Simplifies standards enforcement:</li></b>
				<p>Easily define, modify, and enforce installation standards and operating rules without any programming effort simply by setting parameters via a user-friendly online interface. Changes can be applied dynamically or deferred until the next appropriate change window.</p>
			<b><li>Simplifies software upgrades:</li></b>
				<p>The dynamic updating feature reduces the need to:</p>
				<ul>
					<li>Rework and retest installation exits</li>
					<li>Make manual JCL changes</li>
					<li>IPL systems when implementing new versions of program products</li>
				</ul>
				<br/>
			<b><li>Simplifies system and data center consolidation</li></b>
				<p>Reduces the need to retain in-house installation exists thereby allowing users to position systems prior to integrating their workloads. The task of workload integration is hence made much easier as are the processes of system build and rollout.</p>
			<b><li>Allows dynamic updating</li></b>
				<p>Dynamically change an operational environment to suit specific workload profiles such as sets of standards and rules for daytime online processing and overnight batch periods.</p>
				<div class="route">
					<%= image_tag('Resource Routing Example.jpg', :size => '730x500', :class => "float-right img-fluid clearfix", :alt => "Responsive image") %>
				</div>	
			<b><li>Enhances storage management</li></b>
				<p>Extensive DFSMShsmTM reporting and optimization tools can help administrators to significantly improve storage management operations.</p>
			<b><li>Facilitates accounting and charge-back processes</li></b>	
				<p>Job accounting information can be stored in the catalog for DFSMS-managed datasets to facilitate more accurate accounting of storage usage.</p>
			<b><li>Facilitates security and integrity processes</li></b>
				<p>Helps ensure that only authorized users are able to access resources specified in job JCL parameters by providing RACF (Resource Access Control Facility) protection for resources such as job class and JCL parameters.</p>		
		</ul>

		<br/>

		<h3>Facilitates Achievement of System Throughput and Service Level Targets</h3>
		<ul>
			<b><li>Facilitates Resource Control:</li></b>
				<p>Optimize utilization of system resources with facilities to improve control over: job and SYSOUT classes, virtual storage, dataspaces, etc. Dynamic job routing can also contribute improving system throughput by ensuring that jobs are executed on the most appropriate system.</p>
			<b><li>Handles Resource Overruns Automatically:</li></b>
				<p>Resource overruns can be handled without operator intervention thereby helping to ensure that critical processing continues while simultaneously allowing the redirection of human resources to more crucial tasks.</p>
			<b><li>Facilitates Direction of Mission-Criticle Resources:</li></b>
				<p>Scarce hardware can be reserved for specific jobs or a range of jobs thereby helping to ensure that mission-critical work has access to required resources.</p>
			<b><li>Increases System Availability with Reduction of Need to IPL:</li></b>
				<p>Installation standards and rule definitions, as well as updates to supervisor call (SVC) modules and RACF® control tables can be made dynamically, without an IPL, thereby increasing system availability.</p>
			<b><li>Improve Responsiveness to User Requirements:</li></b>
				<p>Dynamic update capability for rules, standards, SVCs, and control tables help administrators respond to user requirements in a more timely manner.</p>				
		</ul>
	</div>











































