<br/>
<div class="support text-center">
	<h2>Trident Services is always available to help</h2>
</div>	
	<br/>
	<br/>

	<div class="row help">
		<div class="col-12 col-sm">
			<h3>For support with zOSEM & CICS/EM products</h3>
			<p>The Trident Services online Help Desk application is available to our customers 24 hours a day. The Help Desk allows authorized users to perform the following functions:</p>
			<ul>
				<li>Open a new PMR</li>
				<li>Review & Update existing PMRs relating to your site</li>
				<li>Obtain PTF information</li>
				<li>Download product installation files and manuals</li>
				<li>Download product maintenance</li>
				<li>Review Trident newsletters and HIPER PTF advistories</li>
				<li><%= link_to 'Send Dumps to Support (FTP Instructions)', ftpSupport_path %></li>
			</ul>	

			<a href="http://help.triserv.com/" target="_blank">Help Desk - Software</a>
			<br/>
			<a href="mailto:support@triserv.com">Contact Support - Software</a>
		</div>	

		<div class="col-12 col-sm">
			<h3>For support with ESPS, PETS, & other services/products</h3>
			<p><b>The Trident Services online Help Desk application is available to our customers 24 hours a day.</b> The Help Desk allows authorized users to perform the following functions:</p>
			<ul>
				<li>Open a new PMR</li>
				<li>Review & Update existing PMRs relating to your site</li>
			</ul>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<a href="http://help.triserv.com/" target="_blank">Help Desk - Services</a>
			<br/>
			<a href="mailto:esps@triserv.com">Contact Support - Services</a>
		</div>	

		<div class="col-12 col-sm">
			<h3>General Inquiries</h3>
			<p>Use the following telephone number and/or email address for questiosn regarding contract and/or billing information.
			<br/>
			<br/>
			<b>Telepone:</b> (800)877-4336
			<br/>
			<b>Hours:</b> 8:00am - 5:00pm(Pacific Time)
			</p>
			<%= image_tag "images.png" %>
			<br/>
			<br/>
			<a href="mailto:osem@triserv.com">Contact Us</a>
		</div>	
	</div>	


















