<br/>
<div class="supp">
	<u><h1 align="center" class="animated fadeInDown delay-0s">Trident Services is always available to help</h1></u>
</div>	

	<br/>
	<br/>

	<div class="row help">
		<div class="col-12 col-sm">
			<div class="support col-10 offset-1">
				<div class="animated fadeInLeft delay-1s">
					<h3>For support with zOSEM & CICS/EM products</h3>

					<p>The Trident Services online Help Desk application is available to our customers 24 hours a day. The Help Desk allows authorized users to perform the following functions:</p>

					<ul>
						<li>Open a new PMR</li>
						<li>Review & Update existing PMRs relating to your site</li>
						<li>Obtain PTF information</li>
						<li>Download product installation files and manuals</li>
						<li>Download product maintenance</li>
						<li>Review Trident newsletters and HIPER PTF advistories</li>
						<li><%= link_to 'Send Dumps to Support (FTP Instructions)', ftpSupport_path %></li>
					</ul>	

					<a href="http://help.triserv.com/" target="_blank" class="btn btn-primary">Help Desk - Software</a>
					<br/>
					<br/>
					<a href="mailto:support@triserv.com" class="btn btn-primary">Contact Support - Software</a>
				

				<br/>
				<br/>
				<hr class="animated zoomIn delay-2s">
				<br/>

				<h3>For support with ESPS, PETS, & other services/products</h3>
				<p><b>The Trident Services online Help Desk application is available to our customers 24 hours a day.</b> The Help Desk allows authorized users to perform the following functions:</p>
				<ul>
					<li>Open a new PMR</li>
					<li>Review & Update existing PMRs relating to your site</li>
				</ul>

				<a href="http://help.triserv.com/" target="_blank" class="btn btn-primary">Help Desk - Services</a>
				<br/>
				<br/>
				<a href="mailto:esps@triserv.com" class="btn btn-primary">Contact Support - Services</a>
				</div>
			</div>
		</div>

		<div class="suppo">
			<div class="animated fadeInRight delay-1s">
				<div class="col-12 col-sm">		
					<div class="booyah-box text-center">
						<h3 align="center">General Inquiries</h3>
							<p align="center">Use the following telephone number and/or email address for questions  <br/> regarding contract and/or billing information.
							<br/>
							<br/>
								<b align="center">Telephone:</b> (800)877-4336
								<br/>
								<b align="center">Hours:</b> 8:00am - 5:00pm(Pacific Time)
							</p>
								<a href="mailto:osem@triserv.com" class="btn btn-secondary">Email Us</a>
								<br/>
								<br/>
								<br/>
								<%= image_tag "images.png"%>
								<br/>
								<br/>
					</div>
				</div>	
			</div>	
		</div>			
</div>			





















