<div class="heading">
	<h2>Support</h2>
</div>	

<div class="section">
	<div class="row-content">
		<div class="flex-item animated fadeIn delay-0s">
			<h3>For support with zOSEM & CICS/EM products</h3>
			<p style="font-size: 23px;">The Trident Services online Help Desk application is available to our customers 24 hours a day. The Help Desk allows authorized users to perform the following functions:</p>
			<ul>
				<li style="font-size: 23px;">Open a new PMR</li>
				<li style="font-size: 23px;">Review & Update existing PMRs relating to your site</li>
				<li style="font-size: 23px;">Obtain PTF information</li>
				<li style="font-size: 23px;">Download product installation files and manuals</li>
				<li style="font-size: 23px;">Download product maintenance</li>
				<li style="font-size: 23px;">Review Trident newsletters and HIPER PTF advistories</li>
				<li style="font-size: 23px;" ><%= link_to 'Send Dumps to Support (FTP Instructions)', ftpSupport_path %></li>
			</ul>	
			<a href="https://help.triserv.com/" target="_blank" class="link-btn">Help Desk - Software</a>
			<a href="mailto:support@triserv.com" class="link-btn">Contact Support - Software</a>
			<br/>
			<hr class="fadeIn delay-2s">
			<br/>
			<h3>For support with ESPS, PETS, & other services/products</h3>
			<p><b style="font-size: 23px;">The Trident Services online Help Desk application is available to our customers 24 hours a day.</b> The Help Desk allows authorized users to perform the following functions:</p>
			<ul>
				<li style="font-size: 23px;">Open a new PMR</li>
				<li style="font-size: 23px;">Review & Update existing PMRs relating to your site</li>
			</ul>
			<a href="https://help.triserv.com/" target="_blank" class="link-btn">Help Desk - Services</a>
			<a href="mailto:esps@triserv.com" class="link-btn">Contact Support - Services</a>
		</div>

		<div class="flex-item support-item frosty animated fadeIn delay-1s">
			<h3>General Inquiries:</h3>
			<br/>
			<p style="font-size: 23px;">Use the following telephone number and/or email address for questions  regarding contract and/or billing information.
				<br/>
				<br/>
				<b align="center">Telephone:</b> (800) 877-4336
				<br/>
				<br/>
				<b align="center">Hours:</b> 8:00am - 5:00pm(Pacific Time)
			</p>
			<br/>
			<div align="center">
				<a href="mailto:osem@triserv.com" class="btn btn-secondary">Email Us</a>
			</div>	
		</div>
	</div>
</div>
























