<br/>
<div class="esps">
	<h1 align="center">Extended Systems Programming Support (ESPS)</h1>
		<div class="row help">
			<div class="col-12 col-sm">
				<br/>
				<br/>
				<h6>Trident Services Extended Systems Programming Support provides 24/7 technical system programming support for IBM and ISV software products. Allow us to fill gaps in your knowledge bank by having talented senior level systems programmers available to answer your questions and resolve your problems. With response times in 15 minutes or less, Trident Services will be there when you need the help the most.</h6>
				<ul>
					<li>24/7/365 telephone support of IBM operating system (z/OS, os/390, VM, z/VM, VSE/ESA, z/VSE) and IBM sub system software (CICS, CICS TS, DB2, IMS DB/DC, MQSeries, WebSphere)</li>
					<li>Support for all non IBM operating system software products</li>
					<li>Support initiated via toll-free telephone number or electronic email interface</li>
					<li>Response time for calls placed into the toll-free number is 15 minutes or less</li>
					<li>Client will have support from experienced Senior Systems Programmers</li>
					<li>Problem isolation and identification of software/hardware difficulties</li>
					<li>Provide answers to questions or concerns from the client</li>
					<li>Client may call with “how to” questions</li>
					<li>Problem ownership is by Trident Services for all reported problems or questions</li>
					<li>Performance Analysis reports every 6 months, during your peak processing periods</li>
					<li>Pertinent IBM bulletins on hardware/software that may be of interest to the client</li>
					<li>Pertinent IBM bulletins on hardware/software that may be of interest to the client</li>
					<li>Provide client with email addresses to report problems via email if required (for severity 3 or 4)</li>
					<li>Planning for hardware and software upgrades (includes all system assurances)</li>
					<li>10 percent reduction in billable rates for all future services</li>
				</ul>	
			</div>	




			<div class="col-12 col-sm">
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<div class="booyah-box offset-1 text-center">

					<h3 align="center">Contact our friendly support staff for more information:</h3> 

						<b><h4>
						1 (800) 887-4336
						</h4></b>
						<h5>or</h5>
						<a href="mailto:services@triserv.com" class="btn btn-secondary">Email Support Staff</a>


				</div>	
			</div>	
		</div>		
</div>		

