button, .btn {
  width: max-content;
  cursor: pointer;
}

.link-btn {
  display: block;
  width: max-content;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 8px 16px;
  background: #3458eb;
  font-size: 16px;
  font-weight: 400;
}

.link-btn:hover {
  color: white;
  cursor: pointer;
  background: #3440eb;
  text-decoration: none;
}