@import "font-awesome";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#flex-content-container {
  flex: 1;
}

#footer {
  width: 100%;
  height: max-content;
  background: #0d0c0c;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  margin-top: 30px;
  font-weight: 100;
  clear: both;
  align-self: flex-end;
}

#footer .row-content {
  gap: 1rem;
  width: 100vw;
  padding: 1rem;
  margin: 0;
  justify-content: space-between;
}

.footer-item > span img{
  display: inline-block;
  width: 150px;
  height: 75px;
}


@media screen and (max-width: 900px) {
  .row-content {
    flex-direction: column;
    gap: 3rem;
  }
}