@import "bootstrap";

body {
	background: image_url('ep_naturalblack.png');
	font-family: "Helvetica Neue", Helvetica;
  color: white;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('texture.jpeg');  
}

.image {
	padding-right: 450px;
}

.hero {
	background: image_url('computer.jpg');
	height: 400px;
	color: white;
	box-shadow: 0px 3px 8px #2a2a2a;
}

.btn {
  border-radius: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
	font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
 
.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(0, 0, 255, 0.3);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.help {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.services {
	color: white;
	margin-left: 80px;
}

.services h2, h3, p {
  font-weight: 300;
}



.hr {
	color: white;
}

.news {
	color: white;
}

.postion {
  float: right;
}

.software h5, ul {
  font-weight: 200;
}

.about h2, h5 {
  font-weight: 300;
}







