<br/>
<br/>
<div class="col-10 offset-1">
	<h1 style="font-size: 40px;"><u><%= @fulltimejob.title %></u> (location: <%= @fulltimejob.location %>)</h1>
	<h3 class="offset-1"><%= @fulltimejob.details %></h3>

<br/>
<br/>
<br/>
<div align="center" style="font-size: 25px;">
	<%= link_to 'Apply Here', '#', class: "btn btn-primary" %>
</div>
</div>	